.header {
    list-style-type: none;
    background-color: lightgrey;
    padding: 15px;
}
.header>* {
    display: inline;
    padding-left: 30%;
}
.hide {
    display: none;
}
.sitiesUkraine {
    background-color: grey;
}
.sitiesWorlds {
    background-color: greenyellow;
}
.sitiesUkraine, .sitiesWorlds {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    padding: 5px;
    width: 90%;
    height: 10vw;
}
